<header>
<div id="doctitle">{{{docTitle}}}</div>
<div id="topmenu">{{{topMenu}}}</div>
</header>

<div id="navicon" onclick="">{{{navIcon}}}
<nav id="toc">
<ul>
<li>{{{linkTo '/' 'Home'}}}</li>
{{#eachPost~}}
<li>{{{pageLink}}}</li>
{{/eachPost~}}
</ul>
</nav>
</div>

<div id="title" {{{title-style}}}>
  <div class="title">{{title}}</div>
  <div class="subtitle">{{subtitle}}</div>
</div>

<div id="main" onclick="">
<div id="content">

{{{renderPage}}}

<div id="credit">{{{credit}}}</div>

</div>
</div>
